/* Header */
header {
    text-align: center;
}
#game_ball_counter {
    text-align: center;
}

/* Game Section */
#game_section {
    display: flex;
    justify-content: center;
}

/* Game Box */
#game_area {
    position: relative;
}
#game_canvas {
    border: 5px solid #000;
}

/* Game Instructions */
#game_instructions {
    margin-right: 20px;
}

/* Game High Scores */
#game_high_scores {
    margin-left: 20px;
}
#game_score_input {
    width: 200px;
    height: 20px;
    position: absolute;
    top: 320px;
    left: calc(50% - 100px);
}